repos:
  # See https://prek.j178.dev/builtin/#2-explicit-builtin-repository
  - repo: builtin
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-symlinks
        exclude: check-symlinks/testdata/
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace

  - repo: https://github.com/rhysd/actionlint
    rev: a443f344ff32813837fa49f7aa6cbc478d770e62 # frozen: v1.7.9
    hooks:
      - id: actionlint
